{% extends 'base.html.twig' %}

{% block body %}




<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>Blog Template · Bootstrap v5.0</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/blog/">

    

    <!-- Bootstrap core CSS -->
<link href="/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Favicons -->
<link rel="apple-touch-icon" href="/docs/5.0/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/5.0/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/5.0/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon.ico">
<meta name="theme-color" content="#7952b3">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="blog.css" rel="stylesheet">
  </head>
  <body>
    
<div class="container">
  <header class="blog-header py-3">
      </div>
    </div>
  </header>


<main class="container">
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-5 fst-italic">Welcome on BouleUp !</h1>
      <p class="lead my-3">The most famous site of Petanque.</p>
      <p class="lead mb-0"><a href="/login" class="text-white fw-bold">Don't waste time for joining us...</a></p>
    </div>
  </div>

<!-- templates of bloc // comment 

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Categorie</strong>
          <h3 class="mb-0">Titre</h3>
          <div class="mb-1 text-muted">Date</div>
          <p class="card-text mb-auto">blablablablablabla</p>
          <a href="#" class="stretched-link">Continuer lecture</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Categorie</strong>
          <h3 class="mb-0">Titre</h3>
          <div class="mb-1 text-muted">Date</div>
          <p class="card-text mb-auto">blablablablablabla</p>
          <a href="#" class="stretched-link">Continuer lecture</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

        </div>
      </div>
    </div>
  </div>

<div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Categorie</strong>
          <h3 class="mb-0">Titre</h3>
          <div class="mb-1 text-muted">Date</div>
          <p class="card-text mb-auto">blablablablablabla</p>
          <a href="#" class="stretched-link">Continuer lecture</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Categorie</strong>
          <h3 class="mb-0">Titre</h3>
          <div class="mb-1 text-muted">Date</div>
          <p class="card-text mb-auto">blablablablablabla</p>
          <a href="#" class="stretched-link">Continuer lecture</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

comment end -->
        </div>
      </div>
    </div>
  </div>




  <div class="row g-5">
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        Learn about BouleUp.
      </h3>

      <article class="blog-post">
        <h2 class="blog-post-title">Who are we ?</h2>
        <p class="blog-post-meta">October 31, 2022 par <a>Kellian, Amaury, Alexis</a></p>

        <p>BouleUp is more than just a website, it's many others things, it's a community, a petanque club, a project, a tournament 
        and more. The creating team of this project is happy to share with you, maybe the most important ecosystem of petanque,
        it's just the beginning of a long adventure, and we hope you will join us for it. </p>

        <hr>
        <h2>Our projects in the future.</h2>
        
        <p>We have many ideas for the future, and lot of projects, somes alredy started, but we want make more for you.
        For exemple, we want to organize tournaments all around the world, we already start with a Summer season (a ladders is available below).
        We want to organise events about petanque too, as meeting, lesson. You can already sign for events on our website, and play during
        a BouleUp competition.
        We will want to share with you more things into our shops too,
         more information about this just after.
        </p>
        <h3>Our Shop place !</h3>
        <p>Here are some ideas of what you can found in our <a href="/product"> shop</a> in the future and now.</p>
        <ul>
          <li>Petanque kit, balls with every price available</li>
          <li>Merch of BouleUp (clothes, goodies)</li>
          <li>Petanque Tools</li>
          <li>Events / Tournaments Tickets</li>
        </ul>
      

       <h3>World Ranking</h3>
        <p>With the help of world professional bowling balls players, we developed a precise world ranking based on many criteria
        for ranked the best players. The cretaria can be the serious of them, their winrate, their participation at events, their skills on the ground.</p>
        <p>
        Just below the ranking of the Summer season.
        </p>
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Evolution</th>
              <th>Placement</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Rémont Joyeu</td>
              <td>=</td>
              <td>1</td>
            </tr>
            <tr>
              <td>Alex Gang</td>
              <td>+1</td>
              <td>2</td>
            </tr>
          <tfoot>
            <tr>
              <td>Dino Saure</td>
              <td>-1</td>
              <td>3</td>
            </tr>
          </tfoot>
        </table>

        <p>Next update for the fall season !</p>
      </article>

    </div>

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-light rounded">
          <h4 class="fst-italic">The Website</h4>
          <p class="mb-0">The development of this website was make by a team of three young men, passionate by petanque (Kellian, Amaury, Alexis). </p>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Elsewhere</h4>
          <ol class="list-unstyled">
            <li><a href="https://github.com/GangneuxA/BouleUp">GitHub</a></li>
            <li><a href="#">Twitter (coming soon)</a></li>
            <li><a href="#">Facebook (coming soon)</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>

</main>




    
  </body>
  </html>






{% endblock %}