{% extends "@EasyAdmin/page/content.html.twig" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-6 alert-info">
                <span class="display-3"> {{ countAllUser['value'] }} </span> utilisateurs
            </div>

            <div class="col-6 alert-succes">
                <span class="display-3"> {{ countAllArticle['value'] }} </span> article
            </div>
        </div>
        <div class="row">
            <h1>Event List</h1>
                <ul>
                    {% for event in allEvent %}
                    <li>
                        <span class="display-5">{{ event.label}} {{ event.nbEntrant }} </span> registered
                    </li>
                    {% endfor %}
                </ul>
        </div>
    </div>

{% endblock %}